Trabajo-Final-UNLP-IoT/dockers/node-red/data/flows.json
[
    {
        "id": "fa96a7e8468db1d9",
        "type": "tab",
        "label": "Flujo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "node-red-detector",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ee77f7f85a16a732",
        "type": "telegram bot",
        "botname": "AlertaCamaraIPbot",
        "usernames": "Gatostk",
        "chatids": "7445265091",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": "",
        "usesocks": false,
        "sockshost": "",
        "socksport": "",
        "socksusername": "",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "",
        "localbotport": "",
        "publicbotport": "",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "92c91f20960ca6e9",
        "type": "mqtt in",
        "z": "fa96a7e8468db1d9",
        "name": "YOLO Detection",
        "topic": "unlp/iot/person_detection",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 280,
        "y": 80,
        "wires": [
            [
                "db2ad5edefd9c389",
                "3560ba3885390b31"
            ]
        ]
    },
    {
        "id": "3560ba3885390b31",
        "type": "function",
        "z": "fa96a7e8468db1d9",
        "name": "Base64 → Buffer + Caption",
        "func": "let img = msg.payload.image;\nlet conf = msg.payload.confidence;\nlet hora = msg.payload.hora;\n\nmsg.payload = {\n    chatId: COMPLETAR,\n    type: \"photo\",\n    content: Buffer.from(img, \"base64\"),\n    caption: `Persona detectada\\nConfianza: ${conf}\\nHora: ${hora}`\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 80,
        "wires": [
            [
                "8bbb882490586c24"
            ]
        ]
    },
    {
        "id": "8bbb882490586c24",
        "type": "telegram sender",
        "z": "fa96a7e8468db1d9",
        "name": "Enviar a Telegram",
        "bot": "ee77f7f85a16a732",
        "haserroroutput": true,
        "outputs": 2,
        "x": 820,
        "y": 80,
        "wires": [
            [
                "f49c1a378270c461"
            ],
            []
        ]
    },
    {
        "id": "db2ad5edefd9c389",
        "type": "debug",
        "z": "fa96a7e8468db1d9",
        "name": "DEBUG JSON",
        "active": true,
        "tosidebar": true,
        "complete": "true",
        "x": 500,
        "y": 40,
        "wires": []
    },
    {
        "id": "f49c1a378270c461",
        "type": "debug",
        "z": "fa96a7e8468db1d9",
        "name": "ERROR Telegram",
        "active": true,
        "tosidebar": true,
        "complete": "true",
        "x": 1050,
        "y": 80,
        "wires": []
    }
]
